.photograph {
  filter: brightness(50%);
  padding: 2px;
  margin: 2px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid grey;
}

.photograph-hover {
  filter: brightness(50%);
  padding: 2px;
  margin: 2px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid #f2a365;
}
.photograph-select {
  filter: brightness(100%);
  padding: 2px;
  margin: 2px;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid white;
}
.photograph-maximized {
  filter: brightness(100%);
  z-index: 2;
  position: absolute;
  left: 0.5;
  width: auto;
  height: 100%;
}
